html {
  font-family: 'Lobster', cursive;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #1B2440;
  color: #F2F2F2;
}

body {
  width: 100%;
  margin: 0;
  padding: 5%;
  padding-top: 0;
}

.titleContainer {
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: center;
}

h1, a {
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #F2F2F2;
  font-size: 70px;
  box-shadow: 0px 0px 0px 10px #416CA6 inset;
  margin-bottom: 15px;
  display: inline;
}

a:hover {
  box-shadow: 0px 0px 0px 10px #419fa6 inset;
}

.container {
  display: flex;
  justify-content: center;
  width: 1000px;
  gap: 20px;
  margin: 0 auto;
}

.controls {
  background-color: #4F5873;
  border-radius: 2px;
  width: 320px;
  height: 700px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: 12px;
  padding: 0 2% 0 2%;
}

button {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .075rem;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.253);
  font-size: 18px;
  height: 70px;
  background: #7f8392;
  border: none;
  border-radius: 6px;
}

button:hover {
  background-color: #416CA6; 
}

button:active {
  background-color: #3c6497;
}

.btnReset {
  background-color: #416CA6;
}

.btnReset:hover {
  background-color: maroon;
}

.btnReset:active {
  background-color: rgb(116, 0, 0);
}

.sketchbox {
  background-color: #F2F2F2;
  height: 700px;
  width: 700px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 1px;
  align-content: flex-start;
}

.square {
  margin: -1px;
  height: 50px;
  border: 2px solid rgb(255, 0, 0);
  box-sizing: border-box;
  flex-grow: 1;
  width: 5%;
  padding-top: 5%;
}